
h1,h2 { font-size: 60px;
	   font-family: "Palatino Linotype";
	   color: HoneyDew;
	   background-color: MediumSeaGreen;

}

body { background-color: BurlyWood;
       border: 5px dotted solid double red;
       padding: inherit;

}

p { background-color: LightCyan;
   font-family: Comic Sans MS;
   font-size: 25px;
   font-variant: small-caps;
   font-stretch: semi-expanded;
   font-color: DarkOrange;

}

i { color: GoldenRod;
}

b { color: FireBrick;
	
}
 
