
h1,h2 { font-size: 45px;
	   font-family: helvetica;
	   color: #D4781C;
	   background-color: white;

}

body { background-color: rgb(200,200,200);
       border: 1px solid #665544;
       padding: inherit;

}

p { background-color: white;
   font-family: Lucida;
   font-size: 12px;

}

i { color: darkblue;
}

b { color: darkorange;}
 